@using ShoppingApplication.Models
@{
    ViewBag.Title = "Add";
    // Map the list of productstatus and sellers for dropdown...
    List<ProductStatus> ProductStatuses = ViewBag.ProductStatuses as List<ProductStatus>;
    List<User> Sellers = ViewBag.Sellers as List<User>;
}


<h2>Add Products</h2>

@* method="get" ka laganai k baad...
    https.//localhost:44301/Product/Add?email=lubnakhizar24%40gmail.com&password=1234
    '?' k baad wali value ko quere parameter kehtai ha*@
@*action="/Controller/Action"*@

<div class="container">
    <div class="col-lg-4 col-lg-push-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Product
                <div class="panel-body"> 
                    @if (ViewBag.Error != "")
                    {
                    <p style="color:red">@ViewBag.Error </p>
                    }
                            <form action="/Product/Add" method="post" enctype="multipart/form-data">

                        <input type="hidden" class="form-control" id="id" name="Id">

                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input type="text" class="form-control" id="name" name="Name">
                        </div>
                        <br />

                        <div class="form-group">
                            <label for="description">Description:</label>
                            <input type="text" class="form-control" id="description" name="Description">
                        </div>
                        <br />

                        <div class="form-group">
                            <label >ProductStatus Id:</label>
                            <select name="ProductStatusId" class="form-control">
                                <option value="0">Select Status</option>
                                @foreach (var item in ProductStatuses)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>                           
                        </div>  
                        <br />

                        <div class="form-group">
                            <label>Seller Id:</label>
                            <select name="SellerId" class="form-control">
                                <option value="0">Select Status</option>
                                @foreach (var item in Sellers)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>                           
                        </div>
                        <br />

                        <div class="form-group">
                            <label>Product Image:</label>
                            <input type="file" class="form-control" name="file" accept="image/png, image/gif, image/jpeg" style="background-color:#808080"/>
                        </div>
                        

                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>

                </div>

            </div>

        </div>


    </div>
</div>


