@using ShoppingApplication.Models
@model Product

@{
    ViewBag.Title = "View";
}

<h2>View Products</h2>



<div>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">Products </div>
            <div class="panel-body">
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>SellerId</th>
                            <th>ProductStatusId</th>

                        </tr>
                    </thead>

                    <tbody>

                        <tr style="background-color:#a9e8f1">

                            <td>@Model.Id </td>
                            <td>@Model.Name</td>
                            <td>@Model.Description</td>
                            <td>@Model.Image</td>
                            <td>@Model.SellerId</td>
                            <td>@Model.ProductStatusId</td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>