@using ShoppingApplication.Models
@{
    ViewBag.Title = "Add";
    // Map the list of OrderStatus, product  and buyers for dropdown...
    List<Product > Products  = ViewBag.Products as List<Product>;
    List<OrderStatus > OrderStatuses = ViewBag.OrderStatuses as List<OrderStatus>;
    List<User> Buyers = ViewBag.Buyers as List<User>;
}


<h2>Add Orders</h2>

@* method="get" ka laganai k baad...
    https.//localhost:44301/Product/Add?email=lubnakhizar24%40gmail.com&password=1234
    '?' k baad wali value ko quere parameter kehtai ha*@
@*action="/Controller/Action"*@

<div class="container">
    <div class="col-lg-4 col-lg-push-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Add Order
                <div class="panel-body">
                    <form action="/Order/Add" method="post">

                        <div class="form-group">
                            <label>OrderStatus:</label>
                            <select name="OrderStatusId" class="form-control">
                                <option value="0">Select OrderStatus</option>
                                @foreach (var item in OrderStatuses)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Buyer:</label>
                            <select name="BuyerId" class="form-control">
                                <option value="0">Select Buyer</option>
                                @foreach (var item in Buyers)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div class="form-group">
                            <label>Product Id:</label>
                            <select name="ProductId" class="form-control">
                                <option value="0">Select Status</option>
                                @foreach (var item in Products)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <br />
                        <div class="form-group">
                            <label for="datetime">DateTime:</label>
                            <input type="DateTime" class="form-control" id="datetime" name="DateTime">
                        </div>
                        <input type="hidden" class="form-control" id="id" name="Id">
                        <br />
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>

                </div>

            </div>

        </div>


    </div>
</div>


