@using ShoppingApplication.Models
@model Order

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Order</h2>


<div class="container">
    <div class="col-lg-4 col-lg-push-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Edit Order
                <div class="panel-body">
                    <form action="/Order/Edit" method="post">
                        
                        <br />
                        <div class="form-group">
                            <label>Id</label>
                            <input type="number" class="form-control" id="id" name="Id" value="@Model.Id">
                        </div>
                        <div class="form-group">
                            <label>DateTime:</label>
                            <input type="datetime" class="form-control" id="datetime" name="DateTime" value="@Model.DateTime<">
                        </div>
                        <br />
                        <div class="form-group">
                            <label>OrderStatusId:</label>
                            <input type="number" class="form-control" id="orderstatusid" name="OrderStatusId" value="@Model.OrderStatusId">
                        </div>
                        <br />
                        <div class="form-group">
                            <label>BuyerId:</label>
                            <input type="number" class="form-control" id="buyerid" name="BuyerId" value="@Model.BuyerId">
                        </div>
                        <div class="form-group">
                            <label>ProductId:</label>
                            <input type="number" class="form-control" id="productid" name="ProductId" value="@Model.ProductId">
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>

                </div>

            </div>

        </div>


    </div>
</div>